@font-face {
	font-family: 'klee one';
	src: url('/fonts/KleeOne-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@keyframes flicker {
	0%   { opacity: 1; }
	50%  { opacity: 0; }
	100% { opacity: 1; }
}

.animate-flicker {
	animation: flicker 5s infinite;
	animation-timing-function: ease-in-out;
}
