@font-face {
    font-family: 'klee one';
    src: url('/fonts/KleeOne-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.fade-in1 {
    opacity: 1;
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}
